body {
    background-color: #808080;
    padding: 0;
    margin: 0;
}
h2 {
    font-family: 'IRANSans';
    font-size: 35px;
    /*text-decoration: underline;*/
}
a {
    text-decoration: none;
    color: black;
}

.siteText {
    flex: 8;
}

#siteText:hover {
    color: white;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
    text-shadow: 5px 5px 5px black;
    font-family: 'IRANSans';
}

#siteText {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: 'IRANSans';
    font-size: 42px;
}

.imgnews {
    border-radius: 15px;
}

a:link {
    color: black;
}


a:visited {
    color: black;
}


a:hover {
    color: red;
}

.FullNews {
    float: left;
    font-size: 19px;
    font-family: 'IRANSans';
}

    .FullNews img {
        float: left;
        padding-top: 50px;
        padding-right: 5px;
        padding-bottom: 1px;
    }

.Container {
    display: grid;
    grid-auto-rows: 3.5em 80em 15em;
}

.textandpic {
    display: flex;
}

.mainPage {
    height: 80em;
}

.texts {
    flex: 4;
    font-family: 'IRANSans';
}

.textandpic img {
    flex: 1.2;
    margin-top: 1em;
}
.singleNews {
    border-bottom: solid #373737 1px;


}
.singleNews h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1em;
}


.Container header {
    padding-left: 20px;
    padding-top: 2px;
    padding-right: 20px;
    display: flex;
    background-color: #373737;
    align-items: center;
    color: inherit;
}

.Container footer {
    display: flex;
    background-color: #373737;
}

.mainPage {
    background-color: #e2e2e2;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

    .mainPage nav {
        margin-right: 1px;
        flex: 1;
    }

    .mainPage section {
        display: grid;
        grid-auto-rows: repeat(8,10em);
        margin-right: 10px;
        flex: 3;
    }

.icon {
    flex: 1;
    border-radius: 25px;
}




.list {
    flex: 1;
    line-height: 1.2em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.blank {
    flex: 1;
}

.list a {
    color: white;
    font-family: 'IRANSans';
}

    .list a:link {
        color: white;
    }
    /* visited link */

    .list a:visited {
        color: white;
    }
    /* mouse over link */
    .list a:hover {
        color: red;
    }

.list b {
    color: #e53131;
    text-shadow: 1px 1px 1px black;
    font-family: 'IRANSans';
}